body {
  font-family: 'Chicago Plain:001.001', arial;
  font-size: 20px;
  color: #05f79c;
  background-image: url("../terminal.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

#wrapper {
  padding: 90px 400px;
}

p {
  text-align: justify;
}

#sum-value {
  display: none;
}

.hide-show {
  display: block !important;
}

/*# sourceMappingURL=styles.css.map */
