

* {
    box-sizing: border-box;
}

.container {
    overflow: hidden;
    border: 1px solid #000;
    padding: 0 15px;
}
.container .item {
    float: left;
    width:33.3333%;
    height: 100px;
    padding: 0 15px 0;
}
.container .inner-block {
    float: right;
    border: 1px solid red;
}
.container .inner-block-1 {
    float: left;   
    border: 1px solid red;
}
.container .inner-block-2 {
    text-align: center;
    border: 1px solid red;
}