* {
    box-sizing: border-box;
}
html {
	font-size: 20px;
	font-family: sans-serif;
}
body {
	margin: 0;
}
.row {
	max-width: 1024px;
	margin: 0 auto;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.bold {
	font-weight: bold;
}
button {
	cursor: pointer;
}

/* <!-- HEADER */
	.header-wrapper a {
		color: #000;
		text-decoration: none;
	}
	header {
		background-color: #fbdb00;
	}
	.header-wrapper {
		overflow: hidden;
		//position: relative;
		padding-top: 50px;
		padding-bottom: 10px;
	}
	.header-wrapper .item {
	    float: left;
	    width: 33.3333%;
	}
	.header-wrapper .menu-burger {
	    float: left;
	}
	.header-wrapper .logo {
	    text-align: center;   
	}
	.header-wrapper .social-connect {
	    float: right;
	}
	.logo img {
		width: 30px;	   
	    vertical-align: middle;
	}
	.social-connect a {
		padding: 0 7px;
	}
	h1 {
		font-size: 1.5rem;
		margin-top: 200px;
		text-align: center;
	}
	.store-buttons {
		margin-top: 30px;
		text-align: center;
	}
	.circle {
		display: inline-block;
		border: 1px solid #000;
		border-radius: 50%;
		width: 65px;
		height: 65px;
		padding: 15px;
		margin: 15px 15px 150px;
	}
	.slider-buttons {
		text-align: center;

	}
	.__slider-buttons {
		display: inline-block;
		width: 20px;
		height: 20px;
		background-color: #fff;
		border-radius: 50%;
		margin: 140px 3px 45px;
	}
	.h1-subtitle {
		font-weight: normal;
		text-align: center;
		margin-top: 30px;
	}
/* HEADER --> */

/* <!-- FEATURES */
	.features a {
		color: #000;
		text-decoration: none;
	}
	h2 {
		text-align: center;
	}
	.h2-subtitle {
		text-align: center;
	}
	.block-1 {
		float: left;
		width: 30%;
	}
	.block-2 {
		width: 40%;
		float: left;	
		text-align: center;
	}
	.block-2 img {
		max-width: 300px;
	}

	.block-3 {
		float: right;
		width: 30%;
	}

/* FEATURES --> */

/* <!-- FOOTER */
	footer {
		background-color: #000;
	}
	footer a {
		color: #fff;
		text-decoration: none;
	}
	footer a:hover {
		text-decoration: underline;
	}
	h3 {
		padding-top: 100px;
		margin-bottom: 25px;
		color: #fbdb00;
		text-align: center;
	}
	.h3-subtitle {
		font-size: 14px;
		color: #fff;
		text-align: center;
		margin-bottom: 45px;
	}
	.email {
		text-align: center;
		padding-bottom: 100px;
	}
	footer input {
		padding: 15px;
		border-radius: 5px;
		border-style: none;
		width: 70%;
	}
	footer button {
		padding: 15px;
		border-radius: 5px; 
		border-style: none;
		width: 10%;
		background-color: #fbdb00;
		text-transform: uppercase;
	}
	.container {	
		color: #fff;
		font-weight: normal;
		font-size: 12px;
	    overflow: hidden;
	    padding: 0 15px;
	}
	.container .item {
	    float: left;
	    width: 17.5%;
	    height: 100px;
	    padding: 0 15px 0;
	}
	.container .item-first {
	    float: left;
	    width: 30%;
	    height: 100px;
	    padding: 0 15px 0;
	}

/* FOOTER --> */


@media (max-width: 767px) {
  /* стили для xs-устройств */
}
@media (min-width: 768px) and (max-width: 991px) {
  /* стили для sm-устройств */
}
@media (min-width: 991px) and (max-width: 1199px) {
  /* стили для md-устройств */
}
@media (min-width: 1200px) {
  /* стили для lg-устройств */
}