html {
	font-size: 28px;
	font-family: sans-serif;
	font-weight: bold;
}
body {
	margin: 0;
}
.row {
	width: 1024px;
	margin: 0 auto;
}
a {
	color: #000;
	text-decoration: none;
}
nav li {
	display: inline;
	padding: 0 30px 0 30px;
}
.logo {
	float: left;
	margin: 28px 0 28px 0;
	position: relative;
	padding-left: 38px;
}
nav {
	float: right;
}
header {
	background-color: #fbdb00;
}
.logo img {
	width: 28px;
	vertical-align: middle;
	margin-bottom: 2px; 
}
.logo a:before {
	content: "";
	background-image: url(icons/fingerprint.png);
	height: 28px;
	width: 28px;
	position: absolute;
	top: 2px;
	left: 0;
	display: block;
	background-size: cover;
}
header {
	overflow: hidden;
}