html {
	font-size: 28px;
	font-family: sans-serif;
	font-weight: bold;
}
body {
	margin: 0;
}
.row {
	width: 1024px;
	margin: 0 auto;
}
.part_1 {
	background: #fbdb00;
}
.logo img {
	width: 40px;
}
a {
	text-decoration: none;
}
.menu {
	float: right;
}
.logo {
	float: left;
	width: 200px;
	margin: 28px 0 28px 0;
}
nav li {
	display: inline;
	padding: 0 30px 0 30px;
}	
.menu a {
	color: #000;
}
.clear {
	clear: both;
}
.text {
	width: 40%;
}
.span-1 {
	font-size: 20px;
}
.span-2 {
	font-size: 15px;
}
.span-3 {
	font-size: 10px;
}
.text {
	float: left;
}
.image {
	float: right;
}
.temp {
	text-align: center;
}
.temp img {
	width: 150px;
}
.main {
	margin: 30px 0 30px 0;
}
.android {
	width: 250px;
}

h2 {
	text-align: center;
	font-size: 28px;
}
.lorem {
	text-align: center;
	font-size: 20px;
	font-weight: normal;
}
.line {
	margin-top: 50px;
	font-size: 20px;
}
.line-1 {
	float: left;
	width: 33%;
}
.line-2 {
	float: left;
	width: 33%;

}
.line-3 {
	float: right;
	width: 33%;

}

.part_3 {
	background: #000;
}
h3 {
	color: #fbdb00;
	text-align: center;
}
.temp_0 {
	text-align: center;
}
.part_3 p {
	text-align: center;
	font-size: 20px;
	color: #fff;
}

