* {
    box-sizing: border-box;
}

/* Default styles */
.example-item {
    height: 100px;
    border: 1px solid #000;
    padding: 10px;
    background-color: #ccc;
}

/* Modifiers for height.
I want these modifiers to be only for '.example-item', because 'is-small' and 'is-large' have abstract and relative meaning */
.example-item.is-small {
    height: 50px;
}
.example-item.is-large {
    height: 150px;
}

/* Modifiers for width.
I want these modifiers to be global, because 'is-half' and 'is-quoter' literally mean half (50%) and quoter (25%) */
.is-half {
    width: 50%;
}
.is-quoter {
    width: 25%;
}

/* Selector from a parent.
I want '.example-item' to be inline-block only inside '.inline-block-example' */
.inline-block-example .example-item {
    display: inline-block;
    vertical-align: middle;
}

.table {
    display: table;
    width: 100%;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.float-example {
    margin-top: 10px;
    overflow: hidden;
}
/* Selector from a parent.
I want '.example-item' to be float: left only inside '.float-example' */
.float-example .example-item {
    float: left;

}