body {
  font-family: sans-serif;
  margin: 0;
  font-family: sans-serif;
  background-image: url("../derevo-tekstura-pol-parket-dom.jpg");
  background-size: cover; }

form {
  padding-top: 20px;
  padding-left: 200px; }

input, button {
  background-color: #e1ecfe;
  width: 500px;
  height: 30px;
  border-style: none;
  border-radius: 5px;
  margin: 5px 0;
  outline: none; }

button:hover {
  cursor: pointer; }

.error {
  background-color: #c53030; }

.success {
  background-color: #b1e26c; }

form {
  text-align: center; }

.header {
  color: #fff;
  font-size: 28px; }

.cards {
  overflow: hidden;
  height: 330px;
  width: 600px;
  background-image: url(../_Group_.png);
  background-size: cover;
  margin: 0 auto;
  margin-top: 50px; }
  .cards .left {
    float: left;
    width: 50%;
    height: 100%;
    text-align: right;
    padding-top: 35%; }
    .cards .left .title {
      font-size: 26px;
      font-weight: bold;
      color: #fff;
      margin: 0;
      padding-right: 50px; }
    .cards .left .subtitle {
      font-size: 14px;
      color: #ff385c;
      padding-right: 50px;
      margin: 0; }
  .cards .right {
    color: #fff;
    float: right;
    width: 50%;
    height: 100%;
    text-align: right;
    padding-top: 27%; }
    .cards .right p {
      padding-right: 10px;
      display: inline-block;
      margin: 0;
      vertical-align: middle; }
    .cards .right img {
      width: 25px;
      padding-right: 40px;
      vertical-align: middle; }
    .cards .right div {
      margin: 15px 0; }

.hide {
  display: none !important; }

/*# sourceMappingURL=style.css.map */
