@font-face {
	font-family: "LeagueGothicRegular";
	src: url("fonts/LeagueGothicRegular/LeagueGothicRegular.eot");
	src: url("fonts/LeagueGothicRegular/LeagueGothicRegular.eot?#iefix")format("embedded-opentype"),
	url("fonts/LeagueGothicRegular/LeagueGothicRegular.woff") format("woff"),
	url("fonts/LeagueGothicRegular/LeagueGothicRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoRegular";
	src: url("fonts/RobotoRegular/RobotoRegular.eot");
	src: url("fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoLight";
	src: url("fonts/RobotoLight/RobotoLight.eot");
	src: url("fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
	url("fonts/RobotoLight/RobotoLight.woff") format("woff"),
	url("fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoMedium";
	src: url("fonts/RobotoMedium/RobotoMedium.eot");
	src: url("fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
	url("fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
	url("fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "RobotoBold";
	src: url("fonts/RobotoBold/RobotoBold.eot");
	src: url("fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
	url("fonts/RobotoBold/RobotoBold.woff") format("woff"),
	url("fonts/RobotoBold/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

.row {
	max-width: 1200px;
	margin: 0 auto;
}

.relative {
	position: relative;
}

html {
	font-size: 20px;
	font-family: RobotoLight;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.logo {
	text-transform: uppercase;
	color: white;
	font-family: LeagueGothicRegular;
	padding: 1.5rem 0;
	float: left;
	margin: 0;
	font-size: 2.5rem;
	padding-left: 0.75rem;
}

.logo a {
	color: white;
}

.logo img {
	height: 2.5rem;
	vertical-align: middle;
	padding-bottom: 0.35rem;
}

.menu {
	color: white;
	font-family: LeagueGothicRegular;
	padding-top: 1.5rem;
	font-size: 1.5rem;
	line-height: 2.9rem;
	padding-right: 0.75rem;
}

.background {
	background: #9b8d81; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #9b8d81 0%, #70655a 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #9b8d81 0%,#70655a 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #9b8d81 0%,#70655a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b8d81', endColorstr='#70655a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.clear {
	clear: both;
}


/*   <!--MAIN-->   */

	/*   <!--HEADER-->   */

	header {
		margin: 0;
	}

	.menu a {
		color: white;
	}

	.menu a:hover {
		text-decoration: underline;
	}

	.menu ul {
		padding-left: 0;
	}

	nav li {
		display: inline;
		padding: 0.5rem;
	}	

	nav {
		float: right;
	}

	/*   <--HEADER-->   */


	/*   <!--PAGE_1-->   */
		.page_1 {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9b8d81+0,70655a+100 */
			background: #9b8d81; /* Old browsers */
			background: -moz-radial-gradient(center, ellipse cover, #9b8d81 0%, #70655a 100%); /* FF3.6-15 */
			background: -webkit-radial-gradient(center, ellipse cover, #9b8d81 0%,#70655a 100%); /* Chrome10-25,Safari5.1-6 */
			background: radial-gradient(ellipse at center, #9b8d81 0%,#70655a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b8d81', endColorstr='#70655a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			background-attachment: fixed;
			background-size: cover;
			//height: 40rem;
			color: white;
			font-family: LeagueGothicRegular;
			font-size: 1.2rem;
		}

		h1 {
			font-size: 4rem;
			margin: 2rem 0;
			text-transform: uppercase;
			font-weight: normal;
			line-height: 4rem;
			padding-left: 0.75rem;
		}

		h1 span {
			color: #fcce00;
		}

		.quote {
			padding-left: 0.75rem;
			font-family: RobotoLight;
			font-style: italic;
			z-index: 10;
			width: 22rem;
			line-height: 1.5rem;
			font-size: 0.9rem;
			text-align: justify;
		}

		ul {
			margin: 0;
		}

		.phone {
			font-size: 0.85rem;
			position: relative;
			float: right;
			padding-bottom: 2rem;
			position: relative;
		}

		#iphone_images img {
			height: 30rem;
			position: absolute;
			top: 0;
		}

		.img_iphone {
			height: 30rem;
		}

		.img_iphonelight {
			position: absolute;
			top: 0;
			height: 30rem;
		}

		.phone_text {
			float: left;
			position: absolute;
			z-index: 10;
			left: 0;
		}

		.screenshot {
			display: none;
		}

		.phone {
			//position: relative;
			right: 0;
			margin: 0;
		}

		.phone ul {
			padding: 0.25rem 0.75rem;
		}

		.phone li {
			padding-top: 0.5rem;
		}

		.phone_container {
			width: 100%;
			background-size: cover;
			padding: 1rem 0;
			margin: 0 auto;
		}

		.input_comment {
			padding: 0 2rem 2rem 0;
			margin: 0.5rem 0;
		}

		.comment_text {
			font-size: 1rem;
		}

		.review_li {
			padding: 0.25rem;
		}

		.review {
			margin: 1rem 0 0 0;
			padding: 1rem 0;
			font-size: 1.2rem;
		}

		ol {
			padding: 0 1rem 1rem 1rem;
			margin: 0;
		}

	/*   <--PAGE_1-->   */


	/*   <!--PAGE_2-->   */

		.page_2 {
			//height: 40rem;
		}

		a {
			text-decoration: none;
		}

		.icons_title {
			font-size: 1.2rem;
			text-align: center;
		}

		h2 {
			font-family: LeagueGothicRegular;
			text-transform: uppercase;
			font-weight: normal;
			font-size: 3rem;
			line-height: 3rem;
			margin: 1.5rem 0;
		}

		h2 span {
			color: #fcce00;
		}

		.icons {
			text-align: center;
		}

		.icons a {
			width: 4.5rem;
			text-align: center;
			display: inline-block;
			color: black;
			font-size: 0.6rem;
			padding: 0.5rem;	
			margin: 0 auto;
			padding: 0.5rem 0;
			cursor: pointer;
		}

		.icons a img {
			height: 2.5rem;
			transition: all 0.2s;
		}

		.icons a:hover img {
			vertical-align: center;
			transform: scale(1.7);
		    -webkit-transform: scale(1.7);
		    -moz-transform: scale(1.7);
		    -o-transform: scale(1.7);
		    -ms-transform: scale(1.7);
		}

		.icons a:hover {
			color: white;
		}

		.text {
			text-align: center;
			text-transform: uppercase;
			font-family: LeagueGothicRegular;
			font-size: 2.5rem;
			margin-top: 1.5rem;
		}

		.text span {
			color: #fcce00;
		}

		.text p {
			font-size: 2.5rem;
			margin: 0;
		}

		.button_div {
			margin-top: 1.5rem;
			text-align: center;
		}

		.button_1 {/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
			height: 3.5rem;
			width: 17.5rem;
			text-transform: uppercase;
			font-family: LeagueGothicRegular;
			font-size: 1.5rem;
			display: inline-block;
			color: white;
			text-decoration: none;
			padding: .5em 2em;/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
			outline: none;
			border-width: 0.1rem 0;
			border-style: solid none;
			border-color: #fcce00;
			border-radius: 0.3rem;
			background: #fcce00;
			transition: 0.2s;
			cursor: pointer;
			margin-bottom: 0.75rem;
		}

		.button_1:hover {
			background: #FFC100;
		}

	/*   <--PAGE_2-->   */	

	/*   <!--PAGE_3-->   */

		.page_3 {
			background-color: #c1bcb9;
			//height: 800px;
		}

		.title_3_main {
			text-transform: uppercase;
			margin: 0;
			margin-bottom: 1.5rem;
			color: white;
			font-family: LeagueGothicRegular;
			font-size: 2.75rem;
			padding: 0 0.75rem;
			text-align: center;
			color: black;
		}

		.div_title_3_main {
			padding-top: 1.25rem;
		}

		.box_1_ {
			float: left;
			width: 10%;
		}

		.box_2_ {
			float: right;
			width: 90%;
		}

		.box_1_ img {
			height: 4rem;
		}

		.box_2_ span {
			color: white;
			font-size: 1rem;

		}

		.column_2_ {
			margin: 1.5rem 0;
		}

		.column_4_ {
			margin: 1.5rem 0;
		}

		.subtitle_ {
			text-transform: uppercase;
			font-family: LeagueGothicRegular;
			font-size: 1.25rem !important;
			color: #fcce00 !important;
		}

		.reviews {
			padding: 0 0.75rem;
		}

		.button_3 {/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
			height: 3.5rem;
			width: 17.5rem;
			text-transform: uppercase;
			font-family: LeagueGothicRegular;
			font-size: 1.5rem;
			display: inline-block;
			color: #747474;
			text-decoration: none;
			padding: .5em 2em;
			outline: none;
			border-width: 0.1rem 0;
			border-style: solid none;
			border-color: #fcce00;
			border-radius: 0.3rem;
			background: #fcce00;
			transition: 0.2s;
			margin-bottom: 0.75rem;
			margin-top: 1.5rem;
			cursor: pointer;
		}

		.button_3:hover {
			background: #FFC100;
		}

		.give_feedback {
			width: 100%;
			margin-top: 1rem; 
			text-align: center;
		}

		.input_main {
			width: 24%;
			height: 2rem;
			border-style: none;
			border-radius: 0.3rem;
			padding-left: 0.25rem;
		}

		.input_comment_main {
			width: 40%;
			height: 2rem;
			border-style: none;
			border-radius: 0.3rem;
			padding-left: 0.25rem;
		}

		.subtitle_give_feedback {
			font-family: LeagueGothicRegular;
			font-size: 1.75rem;
			text-align: center;
		}

	/*   <--PAGE_3-->   */

/*   <--MAIN-->   */



/*   <!--LIST_OF_SERVICES-->   */

	/*   <!--PAGE_1-->   */

		.page_1_services {
			background-size: cover;
			//height: 40rem;
			font-size: 0.8rem;
			background: #9b8d81; /* Old browsers */
			background: -moz-radial-gradient(center, ellipse cover, #9b8d81 0%, #70655a 100%); /* FF3.6-15 */
			background: -webkit-radial-gradient(center, ellipse cover, #9b8d81 0%,#70655a 100%); /* Chrome10-25,Safari5.1-6 */
			background: radial-gradient(ellipse at center, #9b8d81 0%,#70655a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9b8d81', endColorstr='#70655a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
		}

		.head_1_page {
			text-transform: uppercase;
			margin: 0;
			margin-top: 0.75rem;
			margin-bottom: 1.5rem;
			color: white;
			font-family: LeagueGothicRegular;
			font-size: 1.75rem;
			padding: 0 0.75rem;
			text-align: center;
			color: #fcce00;
		}

		.puzzle {
			margin: 0 0.75rem;
			padding-bottom: 1rem; 
		}

		.box_image_1 span {
			color: white;
			display: none;
		}

		.box_image_2 span {
			color: white;
			display: none;
		}

		.box_image_2 {
			margin-top: 3%;
		}

		.container_1 {
			height: 10.5rem;
			width: 30%;
			float: left;
			background: url("images/block_of_images/apple.jpg");
			background-size: cover;
			display: table;
		}

		.container_1:hover span {
			background: rgba(0,0,0,0.65);
			height: 100%;
			display: table-cell;
		    vertical-align: middle;
		    padding: 0.5rem;
		    text-align: center;
		}

		.container_2 {
			height: 10.5rem;
			width: 30%;
			float: left;
			margin-left: 5%;
			margin-right: 5%;
			background: url("images/block_of_images/3D-Android.jpg");
			background-size: cover;
			display: table;
		}

		.container_2:hover span {
			background: rgba(0,0,0,0.65);
			height: 100%;
			display: table-cell;
		    vertical-align: middle;
		    padding: 0.5rem;
		    text-align: center;
		}

		.container_3 {
			height: 10.5rem;
			width: 30%;
			float: right;
			background: url("images/block_of_images/MS.jpg");
			background-size: cover;
			display: table;
		}

		.container_3:hover span {
			background: rgba(0,0,0,0.65);
			height: 100%;
			display: table-cell;
		    vertical-align: middle;
		    padding: 0.5rem;
		    text-align: center;
		}

		.container_4 {
			height: 10.5rem;
			width: 30%;
			float: left;
			background: url("images/block_of_images/SmartWatch.jpg");
			background-size: cover;
			display: table;
		}

		.container_4:hover span {
			background: rgba(0,0,0,0.65);
			height: 100%;
			display: table-cell;
		    vertical-align: middle;
		    padding: 0.5rem;
		    text-align: center;
		}

		.container_5 {
			height: 10.5rem;
			width: 30%;
			float: left;
			margin-left: 5%;
			margin-right: 5%;
			background: url("images/block_of_images/tv.jpg");
			background-size: cover;
			display: table;

		}

		.container_5:hover span {
			background: rgba(0,0,0,0.65);
			height: 100%;
			display: table-cell;
		    vertical-align: middle;
		    padding: 0.5rem;
		    text-align: center;
		}

		.container_6 {
			height: 10.15rem;
			width: 30%;
			float: right;
			background: url("images/block_of_images/blackberry_keyone_1.jpg");
			background-size: cover;
			display: table;
		}

		.container_6:hover span {
			background: rgba(0,0,0,0.65);
			height: 100%;
			display: table-cell;
		    vertical-align: middle;
		    padding: 0.5rem;
		    text-align: center;
		}

		.box_text_1 span {
			color: white;
			font-family: LeagueGothicRegular;
			font-size: 1.25rem;
		}

		.box_text_2 span {
			color: white;
			font-family: LeagueGothicRegular;
			font-size: 1.25rem;
		}

		.container_text_1 {
			height: 1rem;
			width: 30%;
			float: left;
			display: table;
			margin-top: 1%;
		}

		.container_text_1 span {
			text-align: center;
			display: table-cell;
		}

		.container_text_2 {
			height: 1rem;
			width: 30%;
			float: left;
			margin-left: 5%;
			margin-right: 5%;
			display: table;
			margin-top: 1%;
		}

		.container_text_2 span {
			text-align: center;
			display: table-cell;
		}

		.container_text_3 {
			height: 1rem;
			width: 30%;
			float: right;
			display: table;
			margin-top: 1%;
		}

		.container_text_3 span {
			text-align: center;
			display: table-cell;
		}

		.container_text_4 {
			height: 1rem;
			width: 30%;
			float: left;
			display: table;
			margin-top: 1%;
		}

		.container_text_4 span {
			text-align: center;
			display: table-cell;
		}

		.container_text_5 {
			height: 1rem;
			width: 30%;
			float: left;
			margin-left: 5%;
			margin-right: 5%;
			display: table;
			margin-top: 1%;
		}

		.container_text_5 span {
			text-align: center;
			display: table-cell;
		}

		.container_text_6 {
			height: 1rem;
			width: 30%;
			float: right;
			display: table;
			margin-top: 1%;
		}

		.container_text_6 span {
			text-align: center;
			display: table-cell;
		}
	/*   <--PAGE_1-->   */

	/*   <!--PAGE_2-->   */

		.page_2_services {
			background-size: cover;
			//height: 40rem;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a39684+0,e5d1b9+100,e5d1b9+100 */
			background: rgb(163,150,132); /* Old browsers */
			background: -moz-linear-gradient(top, rgba(163,150,132,1) 0%, rgba(229,209,185,1) 100%, rgba(229,209,185,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(163,150,132,1) 0%,rgba(229,209,185,1) 100%,rgba(229,209,185,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(163,150,132,1) 0%,rgba(229,209,185,1) 100%,rgba(229,209,185,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a39684', endColorstr='#e5d1b9',GradientType=0 ); /* IE6-9 */
		}

		.head_2_page {
			text-transform: uppercase;
			margin: 0;
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;
			color: white;
			font-family: "LeagueGothicRegular";
			font-size: 1.75rem;
			text-align: center;
			color: #fcce00;
		}

		.creating_app {
			margin: 0 .75rem;
			padding-bottom: 1.5rem;
		}

		.box_1 {
			float: left;
			width: 10%;
		}

		.box_2 {
			float: right;
			width: 90%;
		}

		.box_1 img {
			height: 4rem;
		}

		.box_2 span {
			color: white;
			font-size: 1rem;

		}

		.column_2 {
			margin: 2rem 0;
		}

		.column_4 {
			margin: 2rem 0;
		}

		.subtitle {
			text-transform: uppercase;
			font-family: LeagueGothicRegular;
			font-size: 1.25rem !important;
			color: #70655a !important;
		}

	/*   <--PAGE_2-->   */

/*   <--LIST_OF_SERVICES-->   */


/*   <!--ABOUT_COMPANY-->*/

	.title_about {
		text-transform: uppercase;
		margin: 0;
		padding-top: 0.75rem;
		padding-bottom: 1.5rem;
		font-family: LeagueGothicRegular;
		font-size: 1.75rem;
		text-align: center;
		color: #fcce00;
	}

	.about_us {
		margin: 0 .75rem;
	}

	._box_1 {
		float: left;
		width: 10%;
	}

	._box_2 {
		float: right;
		width: 90%;
	}

	._box_1 img {
		height: 4rem;
	}

	._box_2 span {
		color: white;
		font-size: 1rem;

	}

	._column_2 {
		margin: 2.5rem 0;
	}

	._column_4 {
		margin: 2.5rem 0;
	}

	.about_us {
		margin-bottom: 2rem;
	}

/*   <--ABOUT_COMPANY-->   */


/*   <!--CONTACTS-->   */

	.title_contacts {
		text-transform: uppercase;
		margin: 0;
		padding-top: 0.75rem;
		padding-bottom: 1.5rem;
		font-family: LeagueGothicRegular;
		font-size: 1.75rem;
		text-align: center;
		color: #fcce00;
	}

	.subtitle_contacts {
		text-transform: uppercase;
		margin: 0;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		font-family: LeagueGothicRegular;
		font-size: 1.75rem;
		text-align: center;
		color: #fcce00;
	}

	.box_contacts {
		color: white;
		height: 1.5rem;
		font-family: LeagueGothicRegular;
		font-size: 1.25rem;
	}

	.box_text_contacts {
		color: white;
		height: 1.5rem;
		font-size: 1rem;
		margin-top: 0.5rem;
	}

	.box-1-contacts {
		text-align: center;
		height: 1rem;
		width: 25%;
		float: left;
		display: table;
		margin: 0; 
	}

	.box-2-contacts {
		text-align: center;
		height: 1rem;
		width: 25%;
		float: left;
		margin-left: 5%;
		margin-right: 5%;
		display: table;
		margin: 0; 
	}

	.box-3-contacts {
		text-align: center;
		height: 1rem;
		width: 25%;
		float: left;
		display: table;
		margin: 0; 
	}

	.box-4-contacts {
		text-align: center;
		height: 1rem;
		width: 25%;
		float: right;
		display: table;
		margin: 0; 
	}

	.contacts_text1 {
		padding: 0 0.75rem;
	}

	.map {
		width: 100%;
		text-align: center;
	}

	.map iframe {
		height: 25rem;
		width: 50rem;
	}

	.feedback {
		width: 17.75rem;
		margin: 0 auto;
	}

	.button_2 {/*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
		height: 3.5rem;
		width: 17.5rem;
		text-transform: uppercase;
		font-family: LeagueGothicRegular;
		font-size: 1.5rem;
		display: inline-block;
		color: #70655a;
		text-decoration: none;
		padding: .5em 2em;
		outline: none;
		border-width: 0.1rem 0;
		border-style: solid none;
		border-color: #fcce00;
		border-radius: 0.3rem;
		background: #fcce00;
		transition: 0.2s;
		margin-bottom: 1.75rem;
		cursor: pointer;
	}

	.button_2:hover {
		background: #FFC100;
	}

	._input {
		width: 8.4rem;
		height: 1.5rem;
		border-style: none;
		border-radius: 0.3rem;
		padding-left: 0.25rem;
	}

	.input_comment {
		width: 15.25rem;
		height: 2.5rem;
		border-style: none;
		border-radius: 0.3rem;
		padding-left: 0.25rem;
	}

	._map {
		height: 25rem;
		width: 55rem;

	}
/*   <--CONTACTS-->   */


/*   <!--FOOTER-->   */	

	footer {
		padding: 1%;
		margin-top: 0.5rem;
		padding-bottom: 2%;
		padding: 0.5rem 0.5rem;
	}

	.wrapper {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.content {
		flex: 1 0 auto;
	}

	.footer {
		background-color: #212121;
		color: white;
		flex: 0 0 auto;
	}

	.icon_footer {
		margin-bottom: 0.5rem; 
		float: left;
	}

	.text_footer {
		float: right;
	}

	.icon_footer img {
		height: 1.5rem;
	}

/*   <--FOOTER-->   */

/*   <!--MEDIA-->   */

	@media screen and (max-width: 1200px) {
		html {
			font-size: 18px;
		}
	}

	@media screen and (max-width: 1100px) {
		html {
			font-size: 17px;
		}

		.break {
			display: none;
		}
	}

	@media screen and (min-width: 1100px) and (max-width: 1300px) {
		.img_iphone {
			height: 28rem;
		}

		#iphone_images img {
			height: 28rem;
		}

		.img_iphonelight {
			height: 28rem;
		}

	}

	@media screen and (min-width: 1000px) and (max-width: 1100px) {
		.img_iphone {
			height: 26rem;
		}

		#iphone_images img {
			height: 26rem;
		}

		.img_iphonelight {
			height: 26rem;
		}
	}

	@media screen and (max-width: 1000px) {
		.img_iphone {
			height: 24rem;
		}

		#iphone_images img {
			height: 24rem;
		}

		.img_iphonelight {
			height: 24rem;
		}
	}

	@media screen and (min-width: 800px) and (max-width: 900px) {
		html {
			font-size: 15px;
		}
	}

	@media screen and (min-width: 700px)  and (max-width: 800px) {
		html {
			font-size: 14px;
		}
		.icons a img {
			height: 3rem;
		}
	}

	@media screen and (min-width: 600px)  and (max-width: 700px) {
		html {
			font-size: 12px;
		}
		.icons a img {
			height: 3rem;
		}
	}

	@media screen and (min-width: 500px)  and (max-width: 600px) {
		html {
			font-size: 11px;
		}
		.icons a img {
			height: 3rem;
		}
	}


	@media screen and (min-width: 400px)  and (max-width: 500px) {
		html {
			font-size: 10px;
		}

		h1 {
			font-size: 3rem;
			line-height: 3rem;
		}

		.icons a img {
			height: 3rem;
		}
	}


	@media screen and (min-width: 300px)  and (max-width: 400px) {
		html {
			font-size: 7px;
		}

		h1 {
			font-size: 3rem;
			line-height: 3rem;
		}

		.icons a img {
			height: 3rem;
		}
	}

	@media screen and (min-width: 200px)  and (max-width: 300px) {
		html {
			font-size: 5px;
		}
	}

	@media screen and (max-width: 200px) {
		html {
			font-size: 4px;
		}
	}

	@media screen and (max-width: 800px) {
		.map iframe {
			height: 20rem;
			width: 40rem;
		}
	}

	@media screen and (max-width: 500px) {
		.input_main {
			font-size: 1rem;
		}
		.input_comment_main {
			font-size: 1rem;
		}
		.input_comment {
			font-size: 1rem;
		}
		._input {
			font-size: 1rem;
		}
	}
/*   <--MEDIA-->   */

