@import url('https://fonts.googleapis.com/css?family=Aldrich');

html {
    font-family: 'Aldrich', sans-serif;
}

body {
    background-image: url(https://images4.alphacoders.com/595/595809.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: #c30a10;
    margin: 0;
    padding-left: 20px;
    padding-top: 20px; 
    padding-bottom: 50px;
    width: 500px;
    text-align: center;
}

form {
    padding-top: 20px;
    padding-left: 20px;
}

input, button {
    background-color: #e1ecfe;
    width: 500px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    margin: 5px 0;
    outline: none;
}

button:hover {
    cursor: pointer;
}

select {
    background-color: #e1ecfe;
    width: 500px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    margin: 5px 0;
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #b1e26c !important;
}

.error{
    background-color: #c53030;
}
.success{
    background-color: #b1e26c;
}

li {
    color: white;
}

.color {
    color: #c30a10;
}

.wrapper {
    width: 500px;
    margin-left: 100px;
}

span {
    padding-left: 20px;
    color: #e1ecfe;
    font-size: 20px;
}

#btn {
    height: 25px;
    width: 25px;
    color: red;
    font-weight: bolder;
    font-size: 19.33px;
    text-align: center;
    float: right;
}


.container li {
    float: left;
    line-height: 35px;
    width: 90%;
}

.clear {
    clear: both;
}

#boxers_list {
    width: 96%;
}